.gridy-wrap
{
    z-index: 5555;
    position: fixed;
    top: 0;
    bottom: 0;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.is-container {
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  bottom: 0;
}

.gridy-cols {
  flex: 1 0 auto;
  margin: 0 15px;
  background-color: rgba(100, 195, 113, .5)
}

@media(max-width: 961px) {
  .grid-wrap {
    width: 100%!important;
  }
}

@media(max-width: 767px) {
  .gridy-cols:nth-child(1n+5) {
    display: none
  }
}

@media(max-width: 479px) {
  .gridy-cols:nth-child(1n+3) {
    display: none
  }
}
